#header {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

#input {
    text-align: center;
    border: thick double #cece32;
}

#txtRoomId #txtPlayerName {
    width: 100px;
}

body {
    background-color: antiquewhite;
}

#cards {
    width: 1300px;
    height: 800px;
    position: relative;
}

canvas {
    border: 2px solid black;
    border-radius: 15%;
}

#deck {
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 1;
}

.trump-card {
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: 0;
}
#on-hand {
    width: 1300px;
    height: 210px;
    position: absolute;
    bottom: 20px;
}

#on-hand canvas {
    display: inline-block;  
}

#game {
    border: 3px solid rgb(20, 128, 199);
    width: 900px;
    height: 400px;
    position: relative;
}

#cards button {
    position: absolute;
    right: 100px;
    width: 100px;
    height: 40px;
    font-size: large;
}

#button-take {
    top: 400px;
}

#button-discard {
    top: 450px;
}
