#header {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

#main {
    margin: 0 auto;
}

#input {
    text-align: center;
    border: thick double #cece32;
}

#txtRoomId #txtPlayerName {
    width: 100px;
}

body {
    background-color: antiquewhite;
}

#countdown {
    background-color: aqua;
}

#player-connection {
    background-color: blueviolet;
}

#cards {
    width: 1300px; /* width of container */
    height: 800px; /* height of container */
    border: 5px solid black;
    position: relative;
}

canvas {
    border: 2px solid rgb(199, 38, 97);
    border-radius: 15%;
}

#deck {
    background-color: coral;
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 1;
}

.trump-card {
    background-color: deeppink;
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: 0;
}
#on-hand {
    border: 5px solid rgb(27, 198, 153);
    width: 1300px;
    height: 210px;
    position: absolute;
    bottom: 20px;
    /*display: flex;*/
}

#on-hand canvas {
    display: inline-block;  
    background-color: blueviolet;
}

#game {
    border: 3px solid rgb(20, 128, 199);
    width: 900px;
    height: 400px;
    position: relative;
}